body {
    font-family: Arial, sans-serif;
}

.drum-pad-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.drum-pad {
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.drum-pad:hover {
    background-color: #aaa;
}

#output {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}